


body {
    background-color: darkgray;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.7em;
}

h2{
    font-size: 1.2em;
}

#page {
    background-color: darkslategray;
    margin: 20px auto 30px;
    width: 900px;
}

#header {
    color: lightsteelblue;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#menu {
    color: lightsteelblue;
    float: left;
    width: 200px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

.menuItem, .menuHeader {
    text-align: center;
}

.menuItem {
    height: 30px;
    line-height: 30px;
}

.menuItem.selected {
    background: none repeat scroll 0 0 lightsteelblue;
    color: black;
}

.menuHeader {
    background-color: slategrey;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.menuSpacer{
    height:20px;
}

#content {
    background-color: lightsteelblue;
    float: right;
    width: 700px;
    min-height: 400px;
}
#content > div {
    margin: 20px 20px 50px;
}
#footer {
    clear: both;
    color: lightsteelblue;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
